* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.container {
    display: flex;

}

#info {
    padding-left: 20px;
}

.game_board {
    display: flex;
    background-color: #b4bbbb;
    padding: 30px 30px 10px 15px;

}

.idcolumn {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.idline {
    font-size: 14px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    height: 70px;
}

.home_white {
    background-color: #fff;
    width: 70px;
    height: 70px;
}

.home_black {
    background-color: #000;
    width: 70px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}


.home_select {
    background-color: #FF0000;
}